.navigate{
    @apply flex justify-center;
    background: url(/1.jpg);
    // height: ;
    width: auto;
    height: 977px;

}

.menu{
  @apply flex justify-center items-baseline

 
  }

.menu h1{
       @apply text-lg text-black font-bold
    }

.title{
  @apply flex flex-col justify-center items-center uppercase
  }